@import "~leaflet/dist/leaflet.css";

#map-full {
  height: 600px;
  width: 100%;
}
.map-view-container {
  padding: 10px;
}

.filter-card .mat-mdc-form-field {
  font-size: 0.9rem; /* Slightly smaller form fields */
}

.map-card .mat-mdc-card-content {
  line-height: 0; /* Prevent extra space below map */
}

/* Style for map placeholder */
.map-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Match map height */
    background-color: #eee;
    color: #777;
    font-style: italic;
    border-radius: 0 0 8px 8px;
}

/* Ensure button text aligns with spinner */
button[mat-raised-button] .mat-mdc-progress-spinner {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
