<div class="user-info" [class.collapsed]="isCollapsed">
  <div class="user-details" *ngIf="!isCollapsed && this.nombreUsu">
  </div>
</div>

<mat-nav-list class="nav-list">
  <!-- Dashboard (Todos) -->
  <a mat-list-item routerLink="/Dashboard" routerLinkActive="active-link" (click)="menuItemClicked.emit()"
    [matTooltip]="isCollapsed ? 'Dashboard' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>speed</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Dashboard</span>
  </a>

  <!-- Nuevo Siniestro (Cargador, Admin, Manager) -->
  <a mat-list-item routerLink="/nuevo-siniestro" routerLinkActive="active-link"
     *ngIf="this.rol === 4"
     (click)="menuItemClicked.emit()"
     [matTooltip]="isCollapsed ? 'Nuevo Siniestro' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>add_circle_outline</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Nuevo Siniestro</span>
  </a>

  <!-- Lista de Siniestros (Admin, Manager, Vista) -->
  <a mat-list-item routerLink="/lista-siniestros" routerLinkActive="active-link"
     *ngIf="this.rol ===   1 || this.rol === 2 || this.rol === 4 || this.rol === 6 "
    (click)="menuItemClicked.emit()"
    [matTooltip]="isCollapsed ? 'Lista de Siniestros' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>list_alt</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Lista de Siniestros</span>
  </a>

  <!-- Mapa (Admin, Manager) -->
  <a mat-list-item routerLink="/mapa" routerLinkActive="active-link"
      *ngIf="this.rol === 1 || this.rol === 2 || this.rol === 6 "
      (click)="menuItemClicked.emit()"
      [matTooltip]="isCollapsed ? 'Mapa de Incidentes' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>map</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Mapa de Incidentes</span>
  </a>

  <!-- Usuarios (Admin, Manager) -->
  <a mat-list-item routerLink="lst-usuarios" routerLinkActive="active-link"
     *ngIf="this.rol === 1 || this.rol === 2 || this.rol === 6 "
    (click)="menuItemClicked.emit()"
    [matTooltip]="isCollapsed ? 'Usuarios' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>people</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Usuarios</span>
  </a>

  <!-- Subir Evidencia (Fotografo, Admin, Manager) -->
  <a mat-list-item (click)="openUploadEvidenceDialog()"
     *ngIf="this.rol ===   3 "
    [matTooltip]="isCollapsed ? 'Subir Evidencia' : ''" matTooltipPosition="right"
    class="menu-button">
    <mat-icon matListItemIcon>cloud_upload</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Subir Evidencia</span>
  </a>

</mat-nav-list>
