<div class="user-info" [class.collapsed]="isCollapsed">
  <img [src]="userImageUrl" class="user-image" alt="Perfil">
  <div class="user-details" *ngIf="!isCollapsed && currentUser">
    <h6 class="user-name">{{ currentUser?.apellido || '' }}, {{ currentUser?.nombre || '' }}</h6>
    <span class="user-role">{{ currentUser?.rol?.nombre || 'N/A' }}</span>
  </div>
</div>

<mat-nav-list class="nav-list">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" [matTooltip]="isCollapsed ? 'Dashboard' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>speed</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Dashboard</span>
  </a>

  <a mat-list-item routerLink="/nuevo-siniestro" routerLinkActive="active-link"
     *ngIf="authService.hasRole([ROLES.CARGADOR, ROLES.ADMIN, ROLES.MANAGER])"
     [matTooltip]="isCollapsed ? 'Nuevo Siniestro' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>add_circle_outline</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Nuevo Siniestro</span>
  </a>

  <a mat-list-item routerLink="/siniestros" routerLinkActive="active-link"
     *ngIf="authService.hasRole([ROLES.ADMIN, ROLES.MANAGER, ROLES.VISTA])"
     [matTooltip]="isCollapsed ? 'Lista de Siniestros' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>list_alt</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Lista de Siniestros</span>
  </a>

   <a mat-list-item routerLink="/mapa" routerLinkActive="active-link"
      *ngIf="authService.hasRole([ROLES.ADMIN, ROLES.MANAGER])"
      [matTooltip]="isCollapsed ? 'Mapa de Incidentes' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>map</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Mapa de Incidentes</span>
  </a>

  <a mat-list-item routerLink="/usuarios" routerLinkActive="active-link"
     *ngIf="authService.hasRole([ROLES.ADMIN, ROLES.MANAGER])"
     [matTooltip]="isCollapsed ? 'Usuarios' : ''" matTooltipPosition="right">
    <mat-icon matListItemIcon>people</mat-icon>
    <span class="menu-text" *ngIf="!isCollapsed">Usuarios</span>
  </a>

   </mat-nav-list>
