<app-wg-cargando *ngIf="isLoading"></app-wg-cargando>

<div class="row">
    <div class="col-md-3">
        <label><b>Criterio de búsqueda:</b></label>
    </div>
    <div class="col-md-6">
        <form (ngSubmit)="doFound()">
            <div class="input-group mb-2">
                <input name="search" [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar por DNI...">
                <button class="btn btn-primary" type="submit" [disabled]="isLoading">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </form>
    </div>
</div>
    